<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Quick Feeds</title> <!-- Use a variable for the title -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar section -->
        <div class="sidebar">
            <h2>Feeds</h2>
            <% feedUrls.forEach((feed, index) => { %>
                <p class="feed-toggle" data-feed-index="<%= index %>">
                    <span class="toggle-icon">✔</span> 
                    <%= feed.title %>
                </p>
            <% }); %>
        </div>


        <!-- Main content section -->
        <div class="container">
            <!-- Content will be inserted here -->
            <%- body %> 
        </div>
    </div>
    <!-- Footer Section -->
    <div class="footer">
        <p>Brian Strickland | <a href="mailto:bstrick@gmail.com">bstrick@gmail.com</a></p>
        <p>&copy; 2023 Brian Strickland. All rights reserved.</p>
    </div>

    <script>
        document.querySelectorAll('.feed-toggle').forEach(feedToggle => {
            feedToggle.addEventListener('click', () => {
                const feedIndex = feedToggle.getAttribute('data-feed-index');
                feedToggle.classList.toggle('inactive');
                feedToggle.querySelector('.toggle-icon').textContent = feedToggle.classList.contains('inactive') ? '✖' : '✔';
                document.querySelectorAll(`.article[data-feed-index="${feedIndex}"]`).forEach(article => {
                    article.style.display = article.style.display === 'none' ? '' : 'none';
                });
            });
        });
    </script>
    
</body>
</html>
